article{
	min-height: 400px;
}
/*栏目导航*/
@-webkit-keyframes animations2 {
	0% {
		opacity: 0;
	}
	40% {
		opacity: .8;
	}
	45% {
		opacity: .3;
	}
	50% {
		opacity: .8;
	}
	55% {
		opacity: .3;
	}
	60% {
		opacity: .8;
	}
	100% {
		opacity: 1;
	}
}

.navtab {
	border-top: #a6c3bd 1px solid;
	padding: 10px 0;
	/*overflow: hidden;*/
	margin-bottom: 20px
}

.navlist a{
	color: #fff;
}
.navlist>li {
	width: 100px;
	text-align: center;
	line-height: 36px;
	margin: 10px 20px 0 0;
	display: block;
	float: left;
	padding: 0 10px;
	border-radius: 5px;
	background: #fff;
	transition: 800ms ease all;
	outline: none;
	position: relative;
}

.navlist>li a {
	color: #333
}

.navlist>li:before,
.navlist>li:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #1AAB8A;
	transition: 400ms ease all;
}

.navlist>li:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

.navlist>li:hover:before,
.navlist>li:hover:after {
	width: 100%;
	transition: 800ms ease all;
}
li.list-active{
	background: #1AAB8A;
}

/*子导航*/
.sublist{
	width: 100%;
	display: none;
	position: absolute;
	top:100%;
	left: 0;
	z-index: 10;
}
.sublist>li{
	background: white;
	width: 100%;
	height: 36px;
	cursor: pointer;
	box-sizing: border-box;
}
.sublist>li:not(:first-child){
	border-top: 1px solid #1AAB8A;
}
.sublist>li:hover{
	border-left: 2px solid #1AAB8A;
}
.navlist>li:hover .sublist{
	display: block;
}
/*最新文章*/

.newblogs {
	background: #fff;
	overflow: hidden;
	width: 68%;
	float: left;
	border-radius: 5px;
}

.newblogs ul {
	padding: 10px;
	overflow: hidden;
}

.newblogs li {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	overflow: hidden;
}

h3.blogtitle {
	line-height: 30px;
	height: 30px;
	margin: 10px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.blogtitle span {
	background: #299982;
	padding: 2px 5px;
	font-size: 14px;
	color: #fff;
	border-radius: 2px;
	position: relative;
	margin-right: 20px;
}

.blogtitle span a {
	color: #fff;
}


/*绘制三角形*/

.blogtitle span:after {
	content: '';
	width: 0px;
	height: 0px;
	border: 6px solid transparent;
	border-left: 6px solid #299982;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 6px;
	right: -12px;
}

.bloginfo p {
	color: #888;
	line-height: 24px;
}

.blogpic {
	overflow: hidden;
	width: 30%;
	height: 100px;
	float: left;
	margin-right: 20px;
	background: #333;
}

.blogpic a,
.blogpic a img {
	width: 100%;
	height: 100%;
}

.autor {
	width: 100%;
	overflow: hidden;
	clear: both;
	margin: 20px 0 0 0;
	display: inline-block;
	color: #838383;
	font-size: 12px;
}

.autor span {
	margin: 0 10px 0 0;
	padding-left: 20px;
}

.autor span a {
	color: #096;
}

.autor span a:hover {
	text-decoration: underline;
}

.dtime {
	background: url(../images/posttime.gif) no-repeat left center;
}

.viewnum {
	background: url(../images/newsbg04.png) no-repeat left center;
}

.more {
	font-size: 14px;
}

.line {
	width: 0;
	height: 2px;
	background: #349075;
	-moz-transition: all 5s ease;
	-webkit-transition: all 5s ease;
	transition: all 5s ease;
}

.newblogs li:hover .line {
	width: 100%;
}


/*文章排行、本栏推荐*/

.rbox {
	width: 30%;
	overflow: hidden;
	float: right;
}

.paihang {
	background: #fff;
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 5px;
}

.paihang ul {
	padding: 10px;
}

.paihang ul li {
	border-bottom: 1px solid #eaeaea;
	font-size: 14px;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	overflow: hidden;
}

.paihang ul li b {
	height: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.paihang ul li p {
	line-height: 24px;
	color: #888
}

.paihang ul li a:hover {
	color: #000;
}

.paihang ul li:hover p {
	color: #000;
}

.paihang ul li:hover b a {
	color: #000;
}

.paihang li i {
	width: 100px;
	height: 90px;
	overflow: hidden;
	display: block;
	border: #efefef 1px solid;
	float: left;
	margin-right: 10px
}

.paihang li img {
	width: 100px;
	height: 90px;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.paihang ul li:hover i img {
	transform: scale(1.1)
}