/*轮播图*/
.banner{
	width: 100%;
	margin: 30px 0;
	overflow: hidden;
}
.fader{
	position: relative;
	padding-top: 30%;
	font-family: futura,arial;
	overflow: hidden;
}
.fader .slide{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1;
	opacity: 0;
}
.fader img.slide{
	height: auto;
}

.fader .prev,
.fader .next {
	position: absolute;
	height: 80px;
	line-height: 55px;
	width: 50px;
	font-size: 100px;
	text-align: center;
	color: #fff;
	top: 50%;
	left: 0;
	z-index: 4;
	margin-top: -25px;
	cursor: pointer;
	opacity: .3;
	transition: all 150ms;
}

.fader .prev:hover,
.fader .next:hover {
	opacity: 1;
}

.fader .next {
	left: auto;
	right: 0;
}

.fader .pager_list {
	position: absolute;
	width: 100%;
	height: 40px;
	padding: 0;
	line-height: 40px;
	bottom: 0;
	text-align: center;
	z-index: 4;
}

.fader .pager_list li {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 7px;
	background: #fff;
	opacity: .3;
	text-indent: -9999px;
	border-radius: 999px;
	cursor: pointer;
	transition: all 150ms;
}

.fader .pager_list li:hover,
.fader .pager_list li.active {
	opacity: 1;
}

/*最新文章*/
.newblogs{
	background: #fff;
	overflow: hidden;
	width: 68%;
	float: left;
	border-radius: 5px;
}
.newblogs ul{
	padding: 10px;
	overflow: hidden;
}
.newblogs li{
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	overflow: hidden;
	
}
h3.blogtitle{
	line-height: 30px;
	height: 30px;
	margin: 10px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.blogtitle span{
	background: #299982;
	padding: 2px 5px;
	font-size: 14px;
	color: #fff;
	border-radius: 2px;
	position: relative;
	margin-right: 20px;
}
.blogtitle span a{
	color: #fff;
}
/*绘制三角形*/
.blogtitle span:after{
	content: '';
	width: 0px;
	height: 0px;
	border: 6px solid transparent;
	border-left: 6px solid #299982;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 6px;
	right: -12px;
}
.bloginfo p{
	color: #888;
	line-height: 24px;
}
.blogpic{
	overflow: hidden;
	width: 30%;
	height: 100px;
	float: left;
	margin-right: 20px;
	background: #333;
}
.blogpic a,.blogpic a img{
	width: 100%;
	height: 100%;
}
.autor{
	width: 100%;
	overflow: hidden;
	clear: both;
	margin: 20px 0 0 0;
	display: inline-block;
	color: #838383;
	font-size: 12px;
}
.autor span{
	margin: 0 10px 0 0;
	padding-left: 20px;
}
.autor span a{
	color: #096;
}
.autor span a:hover{
	text-decoration: underline;
}

.dtime {
	background: url(../images/posttime.gif) no-repeat left center;
}

.viewnum {
	background: url(../images/newsbg04.png) no-repeat left center;
}
.more{
	font-size: 14px;
}
.line{
	width: 0;
	height: 2px;
	background: #349075;
	-moz-transition: all 5s ease;
	-webkit-transition: all 5s ease;
	transition: all 5s ease;
}
.newblogs li:hover .line{
	width: 100%;
}
/*文章排行、站长推荐*/
.rbox{
	width: 30%;
	overflow: hidden;
	float: right;
}
.paihang{
	background: #fff;
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 5px;
}
.paihang ul{
	padding: 10px;
}
.paihang ul li{
	border-bottom: 1px solid #eaeaea;
	font-size: 14px;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	overflow: hidden;
}
.paihang ul li b {
	height: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}
.paihang ul li p {
	line-height: 24px;
	color: #888
}
.paihang ul li a:hover {
	color: #000;
}
.paihang ul li:hover p {
	color: #000;
}

.paihang ul li:hover b a {
	color: #000;
}
.paihang li i {
	width: 100px;
	height: 90px;
	overflow: hidden;
	display: block;
	border: #efefef 1px solid;
	float: left;
	margin-right: 10px
}
.paihang li img {
	width: 100px;
	height: 90px;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.paihang ul li:hover i img {
	transform: scale(1.1)
}

/*links*/
.links {
	width: 100%;
	background: #fff;
	overflow: hidden;
	border-radius: 5px;
	margin-bottom: 20px;
}

.links ul {
	padding: 20px 50px;
}

.links ul li {
	line-height: 24px;
	border: 1px solid #ccc;
	margin: 0 0 10px 0;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
}
.links ul li:hover { background: #fff; box-shadow: #000 1px 1px 10px; }
.links ul li:hover a {
	color: #096
}
/*时钟*/
.time {
	width: 100%;
	background: #fff;
	overflow: hidden;
	border-radius: 5px;
	margin-bottom: 20px;
}

.time ul{
	padding: 10px;
}
/*wx*/

.weixin {
	width: 100%;
	background: #FFF;
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 5px;
}

.weixin img {
	width: 100%;
	height: auto
}
